<template name="channelDetail">
  <div class="container">
    <div id="config">
      <div class="detail">
        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">Channels</h4>
          </div>
          <ul>
            {{#each channels}}
            {{>channel}}
            {{/each}}
          </ul>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">Users</h4>
          </div>
          <ul>
            {{#each users}}
            {{>user}}
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="detail detail-large">
          <div class="form-horizontal">
            <div class="form-group">
              <label for="cname" class="col-lg-4 control-label">Config Name</label>
              <div class="col-lg-8">
                <div class="input-group">
                  <input type="text" id="cname" name="cname" value="" class="form-control">
                  <div class="input-group-btn">
                    <button id="addConfig" class="btn btn-primary">Add Option</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <form class="form-horizontal">
            {{#if configsReady}}
              {{#each configs}}
              <div class="form-group">
                {{>config}}
              </div>
              {{/each}}
            {{else}}
              {{>loading}}
            {{/if}}
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
