<template name="linkItem">
  {{#if isImage}}
  <li class="media">
    {{#linkify}}{{/linkify}}
    <div class="media-body">
      <div class="row">
        <div class="col-3">
        <a href="{{url}}">
          <h4 class="media-heading">{{#caption}}{{/caption}}</h4>
        </a>
        <span class="label">{{#prettyTime}}{{/prettyTime}}</span>
        </div>
        <div class="col-6">
          <p>{{meta_before}}</p>
          <p>{{meta_after}}</p>
        </div>
      </div>
    </div>
  </li>
  {{/if}}
</template>