<template name="linksHeader">
  <div class="navbar navbar-inverse">
    <div class="container">
      <a class="navbar-brand" href="/">ChatWorks</a>
      <ul class="nav navbar-nav pull-left">
        {{>roomsList}}
        <li><a href="/">Chat</a></li>
        <li><a href="/links">Links</a></li>
        <li><a href="/nouns">Help build me!</a></li>
        <li class="btn-group">
          {{>imagesOnly}}
          {{>loadMoreLinks}}
        </li>
      </ul>
      <ul class="nav pull-right">
        <li class="dropdown">{{loginButtons align="right"}}</li>
      </ul>
    </div>
  </div>
</template>

<template name="imagesOnly">
  {{#if imagesOnly}}
  <button class="images-only btn btn-default navbar-btn">Show Everything</button>
  {{else}}
  <button class="images-only btn btn-inverse navbar-btn">Only Images</button>
  {{/if}}
</template>

<template name="loadMoreLinks">
  {{#if linksReady}}
    {{#unless allLinksLoaded}}
      <button class="load-more btn btn-default navbar-btn">Load More</button>
    {{/unless}}
  {{else}}
    <button class="load-more btn btn-default navbar-btn">{{>loading}}</button>
  {{/if}}
</template>