<template name="header">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">ChatWorks</a>
        <div class="nav-collapse collapse">
          <ul class="nav pull-left">
            <li><a>Connected: {{currentRoom}}/{{online}} | AutoScroll: {{scroll}}</a></li>
            {{>roomsList}}
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/links">Links</a></li>
                {{>showStats}}
              </ul>
            </li>
          </ul>
          <ul class="nav pull-left">
            {{>imagesOnly}}
            <form class="navbar-form hidden-desktop hidden-tablet hidden-phone">
              <input type="text" class="span6" id="room" placeholder="room name">
              <button class="btn btn-inverse btn-small">Create</button>
            </form>
          </ul>
          <ul class="nav pull-right">
            <li class="dropdown">{{loginButtons align="right"}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="showStats">
  {{#if showStats}}
  <li><a class="show-stats">Hide Stats</a></li>
  {{else}}
  <li><a class="show-stats">Show Stats</a></li>
  {{/if}}
</template>

<template name="imagesOnly">
  {{#if imagesOnly}}
  <li><button class="images-only btn btn-inverse btn-small">Everything</button></li>
  {{else}}
  <li><button class="images-only btn btn-inverse btn-small">Only Images</button></li>
  {{/if}}
</template>