@black: #000;
@darknight: #232323;
@knight: #565656;
@neon: #bfd83c;
@turtle: #7d9029;
@yow: #d8bf3c;
@mellow: #907d29;
@spot: #ff8b6b;
@ghost: #dedede;
@brand-primary:         @neon;
@brand-success:         @turtle;
@brand-warning:         @yow;
@brand-danger:          @spot;
@brand-info:            @mellow;

body {
  background: @ghost;
  color: @darknight;
  height: 100%;
  .status {
    .label;
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar {
    border-radius: 0;
    .nav {
    }
  }
  .false {
    background: @brand-success;
  }
  #analysis {
    .make-row();
  }
  #messages {
    .make-row();
    #chat {
      .make-column(12);
      -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.1); // iOS <4.3 & Android <4.1
              box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
//      height: 60%;
//      min-height: 60%;
      height: 300px;
      min-height: 300px;
      overflow-y: auto;
      word-wrap: break-word;
      border: 1px solid @darknight;
      background: @darknight;
      span.handle {
        padding: 0 5px 0 0;
      }
      span.message {
        margin: 0;
      }
      .false {
        background: #000;
      }
      div#stop {
        display: block;
        height: 25px;
      }
    }
  }
  #send-box {
    .make-row();
    -webkit-box-shadow: 0px 2px 8px rgba(0,0,0,0.1); // iOS <4.3 & Android <4.1
            box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    #send-group {
      .make-column(12);
      .input-group;
      padding-top: 1em;
      padding-bottom: 1em;
      background: @darknight;
      input {
        background: @black;
        color: @neon;
        border-radius: 0;
        border: none;
        &:focus,
        &:hover {
          border: none;
          box-shadow: none;
          outline: 0 none;
        }
      }
    }
  }
  .centerly {
    margin: 0 auto;
    width: auto;
    text-align: center;
  }
  .widget {
    .make-column(12);
    padding: 5px 5px;
    background: @darknight;
    color: @neon;
    min-height: 450px;
    height: 450px;
    h4 {
      padding: 0;
      margin: 0;
      font-size: 12px;
    }
  }
  svg {
    display: block;
    margin: auto;
    font-size: 11px;
  }
  #interactions {
    width: 1000px;
    height: 400px;
    #xAxis {
      fill: none;
      stroke: #eeeeee;
      shape-rendering: crispEdges;
    }
    #yAxis {
      fill: none;
      stroke: #eeeeee;
      shape-rendering: crispEdges;
    }
    .label {
      color: #eeeeee;
    }
  }
  #side-nav {
    .make-column(1);
    ul{
      .list-group;
      li {
        .list-group-item;
        a {
          p {
            .list-group-item-text;
          }
        }
      }
    }
  }
  #links {
    .make-column(5);
    img {
      height: 75px;
    }
    a {
      color: @brand-info;
      &:focus,
      &:hover {
        color: lighten(@brand-info, 5%);
      }
    }
  }
  #access-denied,
  #logging-in {
    .make-row();
    div {
      .make-column(12);
      div {
        .jumbotron;
        i {
          .pull-left;
          padding: 10px 20px;
        }
      }
    }
  }
  #config {
    .make-row();
    background: @ghost;
    .detail {
      .make-column(3);
      h3 {
        .panel-heading;
      }
      form {
        div {
          label {
          }
          div {
          }
        }
      }
      ul {
        .list-group;
        li {
          .list-group-item;
        }
      }
    }
    .detail-large {
      .make-column(6);
    }
  }
}
#flash {
  color: #ffcc00;
  -webkit-transition: color 0.5s linear;
}