<template name="adminHeader">
  <div class="navbar navbar-inverse">
    <div class="container">
      <a class="navbar-brand" href="/">ChatWorks</a>
      <ul class="nav navbar-nav pull-left">
        <li class="btn-group">
          {{>ircMonitor}}
          {{>commandMonitor}}
          {{>spamMonitor}}
        </li>
      </ul>
      <ul class="nav pull-right">
        <li class="dropdown">{{loginButtons align="right"}}</li>
      </ul>
    </div>
  </div>
</template>

<template name="loadMoreUsers">
  {{#if usersReady}}
    {{#unless allUsersLoaded}}
      <button class="load-more btn btn-default navbar-btn">Load More</button>
    {{/unless}}
  {{else}}
    <button class="load-more btn btn-default navbar-btn">{{>loading}}</button>
  {{/if}}
</template>

<template name="ircMonitor">
  {{#if ircMonitor}}
  <button class="btn btn-default navbar-btn" id="stop-irc"><i class="icon-circle text-success"></i> Disconnect</button>
  {{else}}
  <button class="btn btn-default navbar-btn" id="start-irc">{{#if ircConnecting}}<i class="icon-spin icon-spinner"></i> {{/if}}Connect</button>
  {{/if}}
</template>

<template name="commandMonitor">
  {{#if commandMonitor}}
  <button class="btn btn-default navbar-btn" id="stop-command">Unwatch Commands</button>
  {{else}}
  <button class="btn btn-default navbar-btn" id="start-command">Watch for Commands</button>
  {{/if}}
</template>

<template name="spamMonitor">
  {{#if spamMonitor}}
  <button class="btn btn-default navbar-btn" id="stop-spam">Stop Spam</button>
  {{else}}
  <button class="btn btn-default navbar-btn" id="start-spam">Start Spam</button>
  {{/if}}
</template>