

<template name="newMessages">
  {{> chatPage options}}
</template>

<template name="chatPage">
  <div class="container">
    <div class="row-fluid">
      {{>analysis}}
    </div>
    <div class="row-fluid">
      {{>loadMore}}
      <div id="chat" class="span12">
        {{#each messagesForRoom}}
          {{>messageItem}}
        {{/each}}
        <div id="stop"></div>
      </div>
    </div>
    <div class="row-fluid">
      {{>messageBox}}
    </div>
  </div>
</template>

<template name="loadMore">
  {{#if messagesReady}}
    {{#unless allMessagesLoaded}}
      <div class="centerly"><button class="load-more btn btn-inverse btn-small">Load More</button></div>
    {{/unless}}
  {{else}}
    {{>loading}}
  {{/if}}
</template>