<template name="chatHeader">
  <div class="navbar navbar-inverse">
    <div class="container">
      {{#if admin}}
        <a class="navbar-brand hidden-sm" href="/admin">Admin</a>
      {{else}}
        <a class="navbar-brand hidden-sm" href="/">ChatWorks</a>
      {{/if}}
      <ul class="nav navbar-nav pull-left hidden-sm">
        {{>roomsList}}
        <li><a href="/">Chat</a></li>
        <li><a href="/links">Links</a></li>
        <li><a href="/nouns">Help build me!</a></li>
        <li class="btn-group">
          {{>showStats}}
          {{>loadMore}}
        </li>
      </ul>
      <ul class="nav pull-right">
        <li class="dropdown">{{loginButtons align="right"}}</li>
      </ul>
    </div>
  </div>
</template>

<template name="showStats">
  {{#if showStats}}
  <button class="show-stats btn btn-inverse navbar-btn">Hide Stats</button>
  {{else}}
  <button class="show-stats btn btn-default navbar-btn">Show Stats</button>
  {{/if}}
</template>

<template name="loadMore">
  {{#if messagesReady}}
    {{#unless allMessagesLoaded}}
      <button class="load-more btn btn-default navbar-btn">Load More</button>
    {{/unless}}
  {{else}}
    <button class="load-more btn btn-default navbar-btn">{{>loading}}</button>
  {{/if}}
</template>