<template name="messageItem">
  {{#if message.action}}
  <div class="message {{confirmed}}">
    <span class="date_time" style="color:{{#colorize}}{{/colorize}}">[{{#prettyTime}}{{/prettyTime}}]</span>
    <span class="handle" style="color:{{#colorize}}{{/colorize}}">{{handle}}</span>
    <span class="message" style="color:{{#colorize}}{{/colorize}}">{{#linkify}}{{/linkify}}</span>
  </div>
  {{else}}
  <div class="message {{confirmed}}">
    <span class="date_time" style="color:{{#colorize}}{{/colorize}}">[{{#prettyTime}}{{/prettyTime}}]</span>
    <span class="handle" style="color:{{#colorize}}{{/colorize}}">{{handle}}></span>
    <span class="message" style="color:{{#colorize}}{{/colorize}}">{{#linkify}}{{/linkify}}</span>
  </div>
  {{/if}}
</template>